<div ng-controller="MainSettingsCtrl" ng-init="init()">
    <form class="padded-sm" name="mainSettingsForm">
        <div class="input-control side-label">
            <label for="showStreak">Show Streak</label>
            <div>
                <div class="checkbox checkbox-primary no-label">
                    <input id="showStreak" type="checkbox" ng-model="data.showStreak" ng-change="save()">
                    <label for="showStreak"></label>
                </div>
            </div>
        </div>
        <div class="input-control side-label">
            <label for="showLongestStreak">Show Longest Streak</label>
            <div>
                <div class="checkbox checkbox-primary no-label">
                    <input id="showLongestStreak" type="checkbox" ng-model="data.showLongestStreak" ng-change="save()">
                    <label for="showLongestStreak"></label>
                </div>
            </div>
        </div>

    </form>
    <div style="display: none;" class="padded-sm" id="actions"></div>
</div>


<!-- 
<div ng-controller="MainSettingsCtrl" ng-init="init()">
    <form class="padded-sm" name="mainSettingsForm">
        <div class="input-control side-label">
            <label for="showStreak">Show Streak</label>
            <div>
                <div class="checkbox checkbox-primary no-label">
                    <input id="showStreak" type="checkbox" ng-model="data.showStreak" ng-change="save()">
                    <label for="showStreak"></label>
                </div>
            </div>
        </div>
        <div class="input-control side-label">
            <label for="showLongestStreak">Show Longest Streak</label>
            <div>
                <div class="checkbox checkbox-primary no-label">
                    <input id="showLongestStreak" type="checkbox" ng-model="data.showLongestStreak" ng-change="save()">
                    <label for="showLongestStreak"></label>
                </div>
            </div>
        </div>
            <label for="allowCommunityFeedFollow">Enable Users to Follow others<br>
                <p style="opacity: 0.7;font-size: .75rem;">
                    (Requires Community Feed)               
                </p></label>
                <div>
                    <div class="checkbox checkbox-primary no-label">
                        <input id="allowCommunityFeedFollow" type="checkbox" ng-model="data.allowCommunityFeedFollow" ng-change="save()" >
                        <label for="allowCommunityFeedFollow"></label>
                    </div>
                </div>
            </div>
            <div class="input-control side-label">
                <label for="seeProfile">Enable See Profile Option<br>
                    <p style="opacity: 0.7;font-size: .75rem;">
                        (This will expose user emails)             
                    </p></label>
                <div>
                    <div class="checkbox checkbox-primary no-label">
                        <input id="seeProfile" type="checkbox" ng-model="data.seeProfile" ng-click="warn()" >
                        <label for="seeProfile"></label>
                    </div>
                </div>
            </div>

    </form>
</div>



 -->