<div ng-controller="MainSettingsCtrl" ng-init="init()">
    <form name="mainSettingsForm" style="padding: 0px 12px !important;">
        <h1>Post Permissions</h1>

        <div class="row">
            <div class="col-md-4">
                <label class="label2" style="font-size: 14px !important;">Allow autosubscribe</label>
            </div>
            <div class="col-md-8">
                <div class="button-switch">
                    <input id="autoSub" type="checkbox" ng-model="data.allowAutoSubscribe" ng-change="save()">
                    <label for="autoSub" class="label-success"></label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label class="label2" style="font-size: 14px !important;">Allow posts on main wall only by users with tags</label>
            </div>
            <div class="col-md-8">
                <div class="button-switch">
                    <input id="mainWallTag" type="checkbox" ng-model="data.allowMainThreadTags" ng-change="save()">
                    <label for="mainWallTag" class="label-success"></label>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 1.25rem;" ng-show="data.allowMainThreadTags">
            <div class="col-md-4">
                <label style="font-size: 14px !important;">Tags</label>
                <span class="customTooltipBox btn-primary">
                    <div style="bottom: -5px; left: 5px; position: absolute;">i</div>
                    <span class="customTooltipText">You may have to reload the page if you have been applying these
                        tags to
                        yourself.</span>
                </span>
            </div>
            <div class="col-md-8">
                <tags-input class="margin-bottom-ten" ng-model="data.mainThreadUserTags"
                    min-tags="{{data.allowMainThreadTags ? 1 : 0}}" on-tag-added="save()" on-tag-removed="save()">
                </tags-input>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label class="label2" style="font-size: 14px !important;">Allow posts on side threads only by users with tags</label>
            </div>
            <div class="col-md-8">
                <div class="button-switch">
                    <input id="sideThreadTag" type="checkbox" ng-model="data.allowSideThreadTags" ng-change="save()">
                    <label for="sideThreadTag" class="label-success"></label>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 1.25rem;" ng-show="data.allowSideThreadTags">
            <div class="col-md-4">
                <label style="font-size: 14px !important;">Tags</label>
                <span class="customTooltipBox btn-primary">
                    <div style="bottom: -5px; left: 5px; position: absolute;">i</div>
                    <span class="customTooltipText">You may have to reload the page if you have been applying these
                        tags to
                        yourself.</span>
                </span>
            </div>
            <div class="col-md-8">
                <tags-input class="margin-bottom-ten" ng-model="data.sideThreadUserTags"
                    min-tags="{{data.allowSideThreadTags ? 1 : 0}}" on-tag-added="save()" on-tag-removed="save()">
                </tags-input>
            </div>
        </div>

        <div class="row" style="margin-bottom: 1.25rem;">
            <div class="col-md-4">
                <label style="font-size: 14px !important;">Allow private chat</label>
            </div>
            <div class="col-md-2 radio radio-primary radio-inline" style="width: 20% !important;">
                <input id="noUsers" type="radio" name="allowChat" ng-model="data.allowChat" value="noUsers">
                <label class="subtitles-labels" for="noUsers">None</label>
            </div>
            <div class="col-md-2 radio radio-primary radio-inline" style="width: 20% !important;">
                <input id="AllUsers" type="radio" name="allowChat" ng-model="data.allowChat" value="allUsers">
                <label class="subtitles-labels" for="AllUsers">All users</label>
            </div>
            <div class="col-md-3 radio radio-primary radio-inline" style="width: 25% !important;">
                <input id="selectedUsers" type="radio" name="allowChat" ng-model="data.allowChat" value="selectedUsers">
                <label class="subtitles-labels" for="selectedUsers">Selected Users</label>
                <span class="customTooltipBox btn-primary">
                    <div style="bottom: -5px; left: 5px; position: absolute;">i</div>
                    <span class="customTooltipText2">Users added to the list will be able to send private messages to
                        all
                        users. Users that are not in the list, will be able to send private messages only to the users
                        in the list.</span>
                </span>
            </div>
        </div>

        <div class="row" ng-show="data.allowChat == 'selectedUsers'">
            <div class="col-md-9">
                <label class="subtitles-labels" style="font-size: 14px !important;">Allowed Users</label>
            </div>
            <div class="col-md-3">
                <button class="btn btn-success stretch" id="addUser" ng-click="selectUsers()">
                    <span class="icon icon-plus margin-right-ten"></span>Select User
                </button>
            </div>
        </div>

        <div class="row" style="margin-bottom: 1.25rem;" ng-show="data.allowChat == 'selectedUsers'">
            <div class="col-md-5">
            </div>
            <div class="col-md-7">
                <table class="table table-bf hidden" id="headTable" style="margin-bottom: 0;">
                    <thead>
                        <th class="headerPadding" style="width: 56.5px;">
                            <h5 class="headerCell text-left"> </h5>
                        </th>
                        <th class="headerPadding" style="width: 162px;">
                            <h5 class="headerCell text-left">User Name</h5>
                        </th>
                        <th class="editColumn"></th>
                    </thead>
                </table>
                <div class="tableDiv">
                    <table id="searchResults" class="table table-bf hidden"></table>
                </div>
                <div id="loading" class="well empty-state-lg">
                    <h5 class="text-center" style="margin-bottom: 0px">
                        Loading...
                    </h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label class="label2" style="font-size: 14px !important;">Disable Follow/Leave Group</label>
            </div>
            <div class="col-md-8">
                <div class="button-switch">
                    <input id="followLeave" type="checkbox" ng-model="data.disableFollowLeaveGroup" ng-change="save()">
                    <label for="followLeave" class="label-success"></label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label class="label2" style="font-size: 14px !important;">Show Members</label>
            </div>
            <div class="col-md-8">
                <div class="button-switch">
                    <input id="showMembers" type="checkbox" ng-model="data.showMembers" ng-change="save()">
                    <label for="showMembers" class="label-success"></label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label class="label2" style="font-size: 14px !important;">Allow Users to Follow other users
                    <span class="customTooltipBox btn-primary">
                        <div style="bottom: -5px; left: 5px; position: absolute;">i</div>
                        <span class="customTooltipText">Requires Community Feed</span>
                    </span>
                </label>

            </div>
            <div class="col-md-8">
                <div class="button-switch">
                    <input id="allowCommunityFeedFollow" type="checkbox" ng-model="data.allowCommunityFeedFollow"
                        ng-change="save()">
                    <label for="allowCommunityFeedFollow" class="label-success"></label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label class="label2" style="font-size: 14px !important;">Allow See Profile Option
                    <span class="customTooltipBox btn-primary">
                        <div style="bottom: -5px; left: 5px; position: absolute;">i</div>
                        <span class="customTooltipText">This will expose user emails</span>
                    </span>
                </label>
            </div>
            <div class="col-md-8">
                <div class="button-switch">
                    <input id="seeProfile" type="checkbox" ng-model="data.seeProfile" ng-click="warn()">
                    <label for="seeProfile" class="label-success"></label>
                </div>
            </div>
        </div>
    </form>

    <div style="padding: 0px 12px !important;">
        <h1>Action Items</h1>
        <div id="actions"></div>
    </div>
</div>