.inbox-item {
    margin-bottom: .1rem;
}
.inbox-item-info {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.inbox-item .inbox-item-info {
    margin-left: 12px;
}
.inbox-item .inbox-item-info  p{
    margin: 0;
}

.time-ago{
    font-size: 12px;
    max-width: 34ch;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* max-width: 50% */
  }