.profile-header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 90%; */
    align-content: center;
    margin: 1rem;

}

.profile-buddies .profile-buddy-item {
    height: 40px;
    width: 40px;
    margin: 0px 5px;
    overflow:hidden;
    border-radius: 100%;
}
.profile-buddies .profile-buddy-item > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.profile-buddies{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    /* width: 90%; */
    padding: .5rem 1rem;

    /* height: 6vh; */
}
.profile-picture-container > img{
    height: 100%;
    /* width: 100%; */
    border-radius: 100%;
    object-fit: cover;
}

.profile-info-container > *{
    margin: 0px !important;
}
.profile-info-container > h5{
    color: black !important;
    font-weight: 500 !important;
}
.profile-info-container{
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10px;
}
.options{
    flex: 1;
    display: flex;
    justify-content: center;
}
.profile-picture-container{
    flex: 2;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.streakText{
    margin-top: 6% !important;
    font-size: 13px !important;
}
.longestStreakText{
    font-size: 13px !important;
}

.profile-bio > p{
    color: black;
    font-size: 12.5px !important;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 0;
}
.profile-bio{
    padding: .5rem 1rem;
    word-break: break-word;
}
.button-container{
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 5.5%;
    border-radius: 5px;  
    margin-top: 15px;
    margin-bottom: 15px;

}
.button-container > button{
    height: 100%;
    border-radius: 5px !important;
    /* background-color: rgb(96 184 71);
    color: white; */
}
.side-by-side{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.full-width{
    width: 100%;
}

.switch{
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
.has-bottom-border{
    border-bottom: 3px solid rgb(96 184 71);
}
.no-bottom-border{
    border-bottom: 0px;
}
.switch > *{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 2s;
}
.private-posts-container > h5{

    margin-bottom: 0px !important;

}

.private-posts-container > h6{
    text-align: center;
    width: 50%;
}
.private-posts-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.half-width-btn{
    width: 48% !important;
}

.outline-btn-success {
    border: 1px solid var(--bf-theme-success);
    background-color: transparent !important;
    color: black !important;
    border-radius: 5px !important;
}

.solid-btn-success {
    background-color: var(--bf-theme-success) !important;
    color: white !important;
    border-radius: 5px !important;

}