<!DOCTYPE html>
<html lang="en" ng-app="socialPluginWidget">

<head>
    <meta name="buildfire" content="disableFastClick,disableSelect">
    <!-- Plugin CSS -->
    
    <!-- build:bundleCSSFiles  -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/createPost.css">
    <link rel="stylesheet" href="assets/css/profile.css">
    <link rel="stylesheet" href="assets/css/interests.css">
    <link rel="stylesheet" href="assets/css/discover.css">
    <link rel="stylesheet" href="assets/css/search.css">
    <link rel="stylesheet" href="assets/css/filtered.css">
    <link rel="stylesheet" href="assets/css/activity.css">
    
    <!-- endbuild -->

    <!-- JS -->
    <script src="../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../../scripts/buildfire.js"></script>
    <script src="../../../scripts/buildfire/components/drawer/drawer.js"></script>
    <script src="../../../scripts/angular/angular.min.js"></script>
    <script src="../../../scripts/angular/angular-route.min.js"></script>
    <script src="../../../scripts/buildfire/services/publicFiles/publicFiles.js"></script>
    <script src="../../../scripts/angular/ui-bootstrap.min.js"></script>
    <script src="../../../scripts/angular/angular-animate.min.js"></script>
    <script src="./assets/js/shared/autoComplete/autoComplete.js"></script>
    <script src="./assets/js/shared/hashtags/hashtags.js"></script>
    <script src="../../../scripts/buildfire/services/camera/camera.js"></script>
    <!-- build:bundleCFFiles  -->    
    <script src="./CommunityFeedAPI/data/analyticKeys.js"></script>
    <script src="./CommunityFeedAPI/data/Errors.js"></script>
    <script src="./CommunityFeedAPI/data/Follow.js"></script>
    <script src="./CommunityFeedAPI/data/Post.js"></script>
    <script src="./CommunityFeedAPI/dataAccess/Follows.js"></script>
    <script src="./CommunityFeedAPI/dataAccess/Posts.js"></script>    
    <!-- endbuild -->
    <!-- build:google  -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyC4Dw4EzKeyVBXWBsbO9-UgyEARL6WLrlU"></script>
    <!-- endbuild  -->
    <!-- build:bundleJSFiles  -->
    <script src="assets/js/moment.js"></script>
    <script src="modals.js"></script>
    <script src="app.js"></script> 
    <script src="app.service.js"></script>
    <script src="enums.js"></script>
    <script src="assets/js/filters.js"></script>
    <script src="../../../scripts/buildfire/components/drawer/drawer.js"></script>
    <script src="controllers/widget.wall.controller.js"></script>
    <script src="controllers/widget.newPost.controller.js"></script>
    <script src="controllers/widget.singlePost.controller.js"></script>
    <script src="controllers/widget.discover.controller.js"></script>
    <script src="controllers/widget.bottomnavbar.controller.js"></script>
    <script src="controllers/widget.interests.controller.js"></script>
    <script src="controllers/widget.filtered.controller.js"></script>
    <script src="controllers/widget.activity.controller.js"></script>
    <script src="controllers/widget.profile.controller.js"></script>
    <script src="controllers/widget.members.controller.js"></script>
    <script src="controllers/widget.search.controller.js"></script>
    <script src="controllers/widget.thread.controller.js"></script>
    <script src="controllers/widget.blockedUsers.controller.js"></script>
    <script src="./assets/js/shared/stringsConfig.js"></script>
    <!-- endbuild -->
    <script>
        moment().format();
    </script>
    <!-- Meta -->
    <meta charset="utf-8">

</head>

<body id="test">
    <div class="main_view">
        <div class="slide-right main-thread-section" style="height: 100%;" ng-show="showThread" ng-controller="WidgetWallCtrl as WidgetWall"
        ng-cloak>
            <div class="backgroundColorTheme content">
                <div class="padding-zero" style="height: 100%;">
                    <div class="social-plugin social-wall" ng-style="{'display':WidgetWall.SocialItems.items.length > 0 ? 'block' : 'none'}" >
      
                        <div ng-class="{'has-comment-box':WidgetWall.SocialItems.userDetails.userId == null || WidgetWall.allowCreateThread,'has-group-header' : WidgetWall.allowFollowLeaveGroup}"
                            class="post-section backgroundColorTheme" id="main-posts-container" >
                            <div class="post-infinite-scroll" id="top">
                                <div>
                                    <div class="head" ng-show="WidgetWall.pinnedPost && !WidgetWall.SocialItems.isPrivateChat"
                                        id="pinnedPost" style="height: 100%;">
                                    </div>
                                </div>
                                <div ng-show="WidgetWall.SocialItems.items.length<=0 && WidgetWall.loadedPlugin && !WidgetWall.loading">
                                    <div class="empty_state"></div>
                                </div>
                                <div  class="social-item" ng-repeat="post in WidgetWall.SocialItems.items">
                                    <div>

                                        <div class="head">
                                            <div ng-class="{'social-profile-user-photo': WidgetWall.SocialItems.userDetails.userId == post.userId}"
                                                class="social-profile-photo">
                                                <div ng-if="WidgetWall.SocialItems.userDetails.userId == post.userId"
                                                    class="social-profile-photo">
                                                    <div ng-class="{'social-copy-user': WidgetWall.SocialItems.userDetails.userId == post.userId}"
                                                        class="social-copy">
                                                        <div style="display: flex;">
                                                            <p class="text-primary ellipsis" style="margin-right: 5px;">
                                                                <a class="ng-cloak" ng-click="WidgetWall.openChat(post.userId)">{{WidgetWall.SocialItems.getUserName(post.userDetails)}} </a>
                                                            </p>
                                                            <span ng-if="post.createdOn" class="time-ago opacity-seventy ng-cloak">
                                                                {{WidgetWall.getDuration(post.createdOn) | convertTimeFormat}}
                                                            </span>
                                                        </div>
                                                        <div ng-if="!post.originalAuthorName && post.location && post.location.address">
                                                            <p class="time-ago opacity-seventy ng-cloak">
                                                                {{post.location.address}}
                                                            </p>
                                                        </div>
                                                        <div ng-if="post.originalAuthorName">
                                                            <p class="time-ago opacity-seventy ng-cloak">
                                                                <span class="material-icons-outlined" style="font-size: 15px;margin-right: 3px;">
                                                                    repeat
                                                                </span> {{post.originalAuthorName}}
                                                            </p>
                                                        </div>
    
                                                        
                                                    </div>
                                                </div>
                                                <div class="media-holder ng-cloak" ng-click="WidgetWall.navigateToProfile(post.userId)">
                                                    <img ng-if="post.userId && post.userDetails.imageUrl" load-image="1x1"
                                                        data-final-src="{{post.userDetails.imageUrl}}" crop-width="40"
                                                        crop-height="40" crop-type="crop">
                                                    <img ng-if="!(post.userId && post.userDetails.imageUrl)"
                                                        load-image="1x1"
                                                        data-final-src="../../../styles/media/avatar-placeholder.png"
                                                        data-img-type="local" crop-width="40" crop-height="40"
                                                        crop-type="default">
                                                </div>
                                                <div ng-if="WidgetWall.SocialItems.userDetails.userId != post.userId"
                                                    class="social-profile-photo">
                                                    <div class="social-copy">
                                                        <div style="display: flex;">
                                                            <p class="text-primary ellipsis" style="margin-right: 5px;">
                                                                <a class="ng-cloak" ng-click="WidgetWall.openChat(post.userId)">{{WidgetWall.SocialItems.getUserName(post.userDetails)}} </a>
                                                            </p>
                                                            <span ng-if="post.createdOn" class="time-ago opacity-seventy ng-cloak">
                                                                {{WidgetWall.getDuration(post.createdOn) | convertTimeFormat}}
                                                            </span>
                                                        </div>
                                                        <div ng-if="!post.originalAuthorName && post.location && post.location.address">
                                                            <p class="time-ago opacity-seventy ng-cloak">
                                                                {{post.location.address}}
                                                            </p>
                                                        </div>
                                                        <div ng-if="post.originalAuthorName">
                                                            <p class="time-ago opacity-seventy ng-cloak">
                                                                <span class="material-icons-outlined" style="font-size: 15px;margin-right: 3px;">
                                                                    repeat
                                                                </span> {{post.originalAuthorName}}
                                                            </p>
                                                        </div>
    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div ng-class="{'post-text-user': WidgetWall.SocialItems.userDetails.userId == post.userId}"
                                            class="post-text copy">
                                            <p class="cursor-pointer">
                                                <span
                                                    ng-click="WidgetWall.goToSinglePostView(post.id)"
                                                    ng-bind-html="(WidgetWall.decodeText(post.text) | limitTo : (post.limit || 150) :0) | newLine">
                                                <!-- post text goes here -->
                                                </span>
                                                <span ng-if="(post.text.trim().length>150 && !post.seeMore)"
                                                    class="ng-cloak">...</span>
                                                
                                                    <a ng-if="(post.text.trim().length>150 && !post.seeMore)"
                                                        ng-click="WidgetWall.seeMore(post)" class="text-info ng-cloak">Read
                                                        More</a>
    
                                                <span ng-if="(post.text.trim().length>150 && post.seeMore) || post.text.trim().length < 150">
                                                    <span ng-click="WidgetWall.goToDiscover()" ng-repeat="hashtag in post.hashtags" style="color: var(--bf-theme-primary);">
                                                        #{{hashtag}} 
                                                    </span>
                                                </span>
                                                
                                            </p>
                                        </div>
                                        <div class="plugin-slide text-center post-image-container"  ng-repeat="image in post.images">
                                            <img src="{{image}}" alt="" style="width: 100% !important;" ng-click="WidgetWall.openImageInFullScreen(image)">
                                            
                                        </div>
                                        <div ng-if="post.taggedPeople.length > 0">
                                            <span style="    display: flex;
                                            justify-content: flex-start;
                                            align-items: center;
                                            margin-top: 10px;
                                            margin-left: 12px;">
                                                <span class="material-icons">person</span>
                                                <span style="margin-left: 5px;color: var(--bf-theme-primary);"> 
                                                {{post.taggedPeople.length}} People Tagged
                                                </span>
                                            </span>
                                        </div>
                                        <div ng-show="post.userId" class="">
                                            <div class="status">
                                                <div class="status-footer">
                                                    <div style="display: flex;">
    
                                                        <div class="footer-item">
                                                            <a class="social-icon ng-cloak" ng-click="WidgetWall.likeThread(post)">
                                                                <i class="material-icons-outlined" ng-class="{notActive: !post.isUserLikeActive }" aria-hidden="true">
                                                                    thumb_up_off_alt
                                                                </i>
                                                            </a>
                                                        </div>
                                                        
                                                        <div class="footer-item" ng-click="WidgetWall.repostPost(post)">
                                                            <a class="social-icon ng-cloak">
                                                                <span class="material-icons-outlined">
                                                                    repeat
                                                                </span>
                                                            </a>
                                                        </div>
                                                        <div class="footer-item" ng-click="WidgetWall.openChat(post.userId)">
                                                            <a class="social-icon ng-cloak">
                                                                <span class="material-icons-outlined">
                                                                    chat_bubble_outline
                                                                </span>
                                                            </a>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="right-footer-items">
    
                                                        <div class="footer-item" ng-click="WidgetWall.sharePost(post)">
                                                            <a class="social-icon ng-cloak">
                                                                <span class="material-icons-outlined">
                                                                    share
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="WidgetWall.SocialItems.items == 0">
                        <div class="empty_state"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="slide-left side-thread-section" ng-view="" ng-hide="showThread">
            <h5 class="titleBarTheme text-center" style="margin-top: 35px;">Something went wrong!! Please try again</h5>
        </div>
    </div>
    <div class="bottomNavBar" ng-controller="BottomNavBarCtrl as BottomNavBar">
        <div>
            <span class="material-icons-outlined fa-gradient" ng-click="BottomNavBar.showMainWall()">
                home
            </span>              
        </div>
        <div>
            <span class="material-icons-outlined" ng-click="BottomNavBar.goToDiscover()">
                search
            </span>            
        </div>
        <div>
            <span class="material-icons-outlined" ng-click="BottomNavBar.openPostSection()" on-touchend="BottomNavBar.openPostSection()">
                control_point
            </span>                   
        </div>
        <div>
            <span class="material-icons-outlined" ng-click="BottomNavBar.goToActivity()">
                notifications
            </span>                
        </div>
        <div>
            <span class="material-icons" ng-click="BottomNavBar.goToMyProfile();">
                account_circle
            </span>
                            
        </div>
    </div>
    <script>
        buildfire.appearance.titlebar.show();
    </script>
    <script src="../../../scripts/buildfire/components/web-components/buildfire-components.js"></script>
    <script src="../../../scripts/buildfire/services/notifications/pushNotifications.js"></script>
    <script src="../../../scripts/buildfire/components/toast/toast.js"></script>    
</body>

</html>