<!DOCTYPE html>
<html lang="en" ng-app="socialPluginWidget">

<head>
    <meta name="buildfire" content="disableFastClick,disableSelect">
    <!-- Plugin CSS -->

    <!-- build:bundleCSSFiles  -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- endbuild -->

    <!-- JS -->
    <script src="../../../scripts/jquery/jquery-1.11.2.min.js"></script>
    <script src="../../../scripts/buildfire.min.js"></script>
    <script src="../../../scripts/buildfire/components/drawer/drawer.js"></script>
    <script src="../../../scripts/buildfire/services/reportAbuse/reportAbuse.js"></script>    
    <script src="../../../scripts/angular/angular.min.js"></script>
    <script src="../../../scripts/angular/angular-route.min.js"></script>
    <script src="../../../scripts/angular/ui-bootstrap.min.js"></script>
    <script src="../../../scripts/angular/angular-animate.min.js"></script>
    <!-- build:bundleCFFiles  -->
    <script src="./CommunityFeedAPI/data/analyticKeys.js"></script>
    <script src="./CommunityFeedAPI/data/Errors.js"></script>
    <script src="./CommunityFeedAPI/data/Follow.js"></script>
    <script src="./CommunityFeedAPI/data/Post.js"></script>
    <script src="./CommunityFeedAPI/dataAccess/Follows.js"></script>
    <!-- endbuild -->
    <!-- build:bundleJSFiles  -->
    <script src="assets/js/moment.js"></script>
    <script src="modals.js"></script>
    <script src="app.js"></script>
    <script src="app.service.js"></script>
    <script src="enums.js"></script>
    <script src="assets/js/filters.js"></script>
    <script src="../../../scripts/buildfire/components/drawer/drawer.js"></script>
    <script src="controllers/widget.wall.controller.js"></script>
    <script src="controllers/widget.thread.controller.js"></script>
    <script src="controllers/widget.members.controller.js"></script>
    <script src="controllers/widget.report.controller.js"></script>
    <script src="./assets/js/shared/stringsConfig.js"></script>
    <!-- endbuild -->
    <script>
        moment().format();
    </script>
    <!-- Meta -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../styles/components/fabSpeedDial/fabSpeedDial.css" />
    <script src="../../../scripts/buildfire/components/fabSpeedDial/fabSpeedDial.js"></script>

</head>

<body id="test">
    <div class="main_view">
        <div class="slide-right main-thread-section" ng-show="showThread" ng-controller="WidgetWallCtrl as WidgetWall"
            ng-cloak>
            <div class="backgroundColorTheme content">
                <div class="padding-zero" style="height: 100%;">
                    <div class="social-plugin social-wall">
                        <div ng-show="WidgetWall.loadedPlugin &&
                        WidgetWall.allowFollowLeaveGroup
                        ||
                        (!WidgetWall.allowFollowLeaveGroup && WidgetWall.SocialItems.appSettings.showMembers)
                        "
                        ng-class="{'head-btn': WidgetWall.allowFollowLeaveGroup, 'head-btn2': !WidgetWall.allowFollowLeaveGroup}" class="text-center" id="socialHeader">
                            <a>
                                <div>
                                    <p class="text-primary" ng-click="WidgetWall.followUnfollow()"  ng-show="WidgetWall.allowFollowLeaveGroup"
                                    style="
                                        left: 0;
                                        top: 0;
                                        position: absolute;
                                        padding-left: 15px;
                                        margin: 5px;
                                        margin-left: 0;"
                                        >

                                        <button class="btn btn-primary" id="followBtn" style="display: flex; font-size: 13px;">
                                            <span class="plusMinusIcon" >{{WidgetWall.groupFollowingStatus ? '&#8722;' : '&#43;'}}</span>
                                            {{WidgetWall.groupFollowingStatus ? (WidgetWall.SocialItems.languages.leaveGroup) : WidgetWall.SocialItems.languages.joinGroup}}
                                        </button>
                                    </p>
                                    <p class="text-primary" ng-show="WidgetWall.SocialItems.appSettings.showMembers" ng-click="WidgetWall.showMembers()" style="margin-bottom :0px;
                                        width: 2em;
                                        right: 1em;
                                        position: absolute;
                                        ">
                                        <svg class="svgIcon" id="membersSvg" viewBox="0 0 24 24">
                                            <path
                                                d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z">
                                            </path>
                                        </svg>
                                    </p>
                                </div>

                            </a>
                        </div>
                        <div ng-class="{'has-comment-box':WidgetWall.SocialItems.userDetails.userId == null || WidgetWall.allowCreateThread,'has-group-header' : WidgetWall.allowFollowLeaveGroup}"
                            class="post-section backgroundColorTheme">
                            <div class="post-infinite-scroll" id="top">
                                <div>
                                    <div class="head" ng-show="WidgetWall.pinnedPost && !WidgetWall.SocialItems.isPrivateChat"
                                        id="pinnedPost" style="height: 100%;">
                                    </div>
                                </div>
                                <div ng-show="WidgetWall.SocialItems.items.length<=0 && WidgetWall.loadedPlugin && !WidgetWall.loading">
                                    <div class="empty_state"></div>
                                </div>
                                <div class="social-item" ng-repeat="post in WidgetWall.SocialItems.items track by post.id">

                                    <div class="head flex flex-space-between">
                                        <div class="social-profile-photo">
                                            <div class="media-holder ng-cloak">
                                                <img ng-if="post.userId && post.userDetails.imageUrl" load-image="1x1"
                                                    data-final-src="{{post.userDetails.imageUrl}}" crop-width="40"
                                                    crop-height="40" crop-type="crop"
                                                    alt={{WidgetWall.SocialItems.getUserName(post.userDetails)}}>
                                                <img ng-if="!(post.userId && post.userDetails.imageUrl)"
                                                    load-image="1x1"
                                                    data-final-src="../../../styles/media/avatar-placeholder.png"
                                                    data-img-type="local" crop-width="40" crop-height="40"
                                                    crop-type="default"
                                                    alt="Anonymous">
                                            </div>
                                            <div class="padding-half-rem padding-top-zero padding-bottom-zero">
                                                <div class="social-copy">
                                                    <p ng-if="WidgetWall.SocialItems.userDetails.userId != post.userId" class="text-primary ellipsis">
                                                        <a class="ng-cloak"
                                                            ng-click="WidgetWall.openChat(post.userId)">{{WidgetWall.SocialItems.getUserName(post.userDetails)}}</a>
                                                    </p>

                                                    <p ng-if="WidgetWall.SocialItems.userDetails.userId == post.userId" class="text-primary ellipsis">
                                                        <a class="ng-cloak"
                                                            ng-click="WidgetWall.openBottomDrawer(post.userId)">{{WidgetWall.SocialItems.getUserName(post.userDetails)}}</a>
                                                    </p>

                                                    <div ng-if="post.createdOn">
                                                        <p class="time-ago opacity-seventy ng-cloak">
                                                            {{WidgetWall.getDuration(post.createdOn) | convertTimeFormat}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="likes social-icon margin-one-rem margin-top-zero margin-bottom-zero ng-cloak" ng-click="WidgetWall.showMoreOptions(post)" style="height: 2rem; margin-top: 0.75rem;">
                                            <span class="material-icons-outlined">more_horiz</span>
                                        </a>
                                    </div>
                                    <div class="post-text copy">
                                        <p class="cursor-pointer margin-zero">
                                            <span
                                                ng-click=" (!WidgetWall.SocialItems.isPrivateChat) ? WidgetWall.goInToThread(post.id) : return"
                                                ng-bind-html="(WidgetWall.util.injectAnchors(post.text) | truncateAndFormat : (post.limit || 150) :0)"></span>
                                            <span ng-if="(post.text.trim().length>150 && !post.seeMore)"
                                                class="ng-cloak">...</span>
                                            <span ng-if="(post.text.trim().length>150 && !post.seeMore)"
                                                ng-click="WidgetWall.seeMore(post)" class="text-info ng-cloak">Read
                                                More</span>
                                                <p ng-if="(post.text.trim().length>150 && post.seeMore)" class="text-info" ng-click="WidgetWall.seeLess(post)">Read Less</p>
                                        </p>
                                    </div>
                                    <div class="plugin-banner">
                                        <div class="plugin-slide text-center" style="max-height: none !important;">
                                            <a ng-click="openThread($event,post)" ng-init="setupImageList(post)">
                                                <bf-image-list ng-if="post.imageListId" id="{{post.imageListId}}"
                                                    token="czi3m2qn"></bf-image-list>
                                            </a>
                                        </div>
                                    </div>
                                    <div ng-show="post.userId" class="footer clearfix">
                                        <div class="status">
                                            <div class="status-footer">
                                                <a class="social-icon ng-cloak"
                                                ng-click="WidgetWall.likeThread(post)">
                                                <i class="material-icons-outlined" ng-class="{notActive: !post.isUserLikeActive }" aria-hidden="true">thumb_up_off_alt</i>
                                                <span class="iconsTheme iconsFont"
                                                ng-class="{notActive: !post.isUserLikeActive}">{{post.likes.length}}</span>
                                            </a>

                                            <a ng-if="!WidgetWall.SocialItems.isPrivateChat"
                                                ng-click=" (!WidgetWall.SocialItems.isPrivateChat) ? WidgetWall.goInToThread(post.id) : return"
                                                class="social-icon comments ng-cloak">
                                                <i class="material-icons-outlined icons2Font notActive" aria-hidden="true">chat_bubble_outline</i>
                                                <span class="iconsTheme iconsFont">{{post.comments.length}}</span>
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="loadMorePosts" ng-show="WidgetWall.SocialItems.showMorePosts" ng-click="WidgetWall.loadMorePosts()">
                                    <button><a>Show More</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="holder padding-zero bottom-post" ng-class="full-post-section">
                <div class="small-post-box" ng-submit="" handle-phone-submit>
                    <div class="post-holder">

                        <div id="actionBtn"  ng-show="WidgetWall.SocialItems.appSettings.actionItem" class="add-message btn btn--act btn--add btn-primary" ng-click="WidgetWall.navigateTo()"
                            on-touchend="WidgetWall.navigateTo()">
                            <svg ng-show="!WidgetWall.SocialItems.appSettings.actionItem.iconUrl" class="svgIcon" viewBox="0 0 24 24" aria-hidden="true" height="32px"
                            width="32px" version="1.1">
                            <path
                                d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z">
                            </path>
                        </svg>

                        </div>

                        <button ng-show="WidgetWall.allowCreateThread && WidgetWall.loadedPlugin" class="add-message btn btn--fab btn--add btn-success" id="addBtn"
                            ng-click="WidgetWall.openPostSection()" on-touchend="WidgetWall.openPostSection()">
                            <svg style="fill: white !important;" height="16px" width="16px" version="1.1" viewBox="0 0 16 16"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M8 1v6H2v2h6v6h2V9h6V7H10V1H8z" />
                            </svg>
                    </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="slide-left side-thread-section" ng-view="" ng-hide="showThread">
            <h5 class="titleBarTheme text-center" style="margin-top: 35px;">Something went wrong!! Please try again</h5>
        </div>
    </div>
    <script>
        buildfire.appearance.titlebar.show();
    </script>
    <script src="../../../scripts/buildfire/components/web-components/buildfire-components.js"></script>
    <script src="../../../scripts/buildfire/services/notifications/pushNotifications.js"></script>
    <script src="../../../scripts/buildfire/components/toast/toast.js"></script>
</body>

</html>
