
<div class="main-container">

  <div class="inputContainer" style="height: 200px;padding: 0px;">

    

    <div class="imageContainer" id="imageContainer" ng-click = "selectImage(this)">
      <span class="material-icons select-media-btn"  ng-if="!selectedMedia ||!selectedMedia.shown">
        add
      </span>
      <img ng-src="{{selectedMedia.shown}}" ng-if="selectedMedia.shown && selectedMedia.type === 'image' " alt="" />
      <video ng-src="{{trustSrc(selectedMedia.shown)}}" ng-if="selectedMedia.shown && selectedMedia.type === 'video'" controls></video>
    </div>

  </div>
  
  <div class="inputContainer">
    <label for="text" class="full-flex">Caption</label>    
    <div id="text" ng-model="text" ng-show="text" ng-click="openPostTextSection(this)">
      {{text}}
    </div>
    <div class="placeholder" ng-show="!text" id="placeholder" ng-click="openPostTextSection(this)">
      Enter caption here
    </div>
  </div>
  

  <div class="inputContainer">
    <label class="full-flex">Location</label>    
    <div class="flex">
      <input class="location-input" ng-model="NewPost.choosenLocationName" googleplace/>
      <span class="material-icons" ng-click="getCurrentLocation()">
        near_me
      </span>
    </div>
  </div>
  
  <div class="inputContainer">
    <label class="full-flex">#Hashtags</label>    
    <input placeholder="#"  type="text" id="hashtagsInput">
  </div>
  
  <div class="inputContainer" >
    <label  class="full-flex">Tag People</label>    
    <input placeholder="@"  type="text" id="peopleInput">
  </div>
  

  
  <button class="btn btn-success" ng-click="checkIfCanSubmit()" ng-disabled="inProgress" style="margin-bottom: 2vh;">Post</button>

</div>