<div class="padding-zero" style="height:100%;">
  <div class="social-plugin social-thread" style="height: 100%;">

    <div class="searchContainer">
      <span class="material-icons">
        search
      </span>
      <input type="text" ng-model="searchInput" placeholder="Search" id="searchInput" ng-keyup="onSearchChange()"
        autocomplete="off">

    </div>

    <div class="inboxMembers">
      <div class="inbox-item" ng-show="!Inbox.loading" ng-repeat="user in Inbox.users" ng-click="Inbox.navigateToPrivateChat(user)">
        <div class="flex">
          <div>
            <div class="media-holder">
              <img ng-if="user.userId && user.userDetails.imageUrl" load-image="1x1"
                data-final-src="{{user.userDetails.imageUrl}}" crop-width="40" crop-height="40" crop-type="crop">
              <img ng-if="!(user.userId && user.userDetails.imageUrl)" load-image="1x1"
                data-final-src="../../../styles/media/avatar-placeholder.png" data-img-type="local" crop-width="40"
                crop-height="40" crop-type="default">
            </div>
          </div>
          <div class="inbox-item-info">
            <div>
              <p class="text-primary">
                {{Inbox.SocialItems.getUserName(user.userDetails)}}
              </p>
              <p class="time-ago ellipsis">
                {{ user.lastMessage? user.lastMessage.text : '' }}
              </p>
            </div>
            <div>
              <span class="time-ago">{{Inbox.getLocalTime(user.lastMessage)}}</span>
            </div>
          </div>

        </div>
      </div>
      <div class="loadMorePosts" ng-show="Inbox.showMore && !Inbox.loading" ng-click="Inbox.searchInboxUsers()">
        <button><a>Show More</a></button>
      </div>
      <div ng-show="Inbox.users.length === 0 && !Inbox.loading">
        <h5 class="text-center" style="padding-top: 40px;"> No Messages yet! </h5>
      </div>
    </div>
  </div>
</div>