<div class="padding-zero" style="height:100%;">
  <div class="social-plugin social-thread" style="height: 100%;">

    <div>
      <form class="search-form form search-holder" ng-submit="onSearchSubmit(this)">
        <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-search" style="font-size: 1.3em; line-height: 15px;"></i>
          <input type="text"ng-model="searchInput" ng-change="onSearchChange()" class="form-control" placeholder="Search"/>
          <button ng-click="clear()" class="btn-icon icon icon-cross2 search-clear" alt="Clear" /></button>
      </div>
      </form>

    </div>

    <div class="wallMembers">
      <div  ng-repeat="user in Members.users">
        <div class="social-item">
          <div class="head">
            <div class="social-profile-photo">
              <div class="media-holder pull-left">
                  <img ng-if="user.userId && user.userDetails.imageUrl" load-image="1x1"
                  data-final-src="{{user.userDetails.imageUrl}}" crop-width="40" crop-height="40" crop-type="crop">
                <img ng-if="!(user.userId && user.userDetails.imageUrl)" load-image="1x1"
                  data-final-src="../../../styles/media/avatar-placeholder.png" data-img-type="local" crop-width="40"
                  crop-height="40" crop-type="default">
              </div>
              <div class="social-copy">
                <p class="text-primary ellipsis">
                  <a ng-click="Members.openBottomDrawer(user)">
                    {{Members.SocialItems.getUserName(user.userDetails)}}
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="loadMorePosts" ng-show="Members.showMore" ng-click="Members.loadMore()">
        <button><a>Show More</a></button>
    </div>
    <div ng-show="Members.users.length<=0">
      <h5 class="text-center" style="padding-top: 40px;">{{Members.SocialItems.languages.membersBlankState}}</h5>
  </div>
    </div>

   

  </div>
</div>