
<div 
style="width: 100%;height: 100%;padding-top:10px;overflow-y: auto;overflow-x: hidden;"  
ng-show="!Profile.isLoading">
    <div class="profile-header">
        <div class="profile-picture-container" ng-click="Profile.GoToBadgeView()" ng-style="{'border':'2px solid ' + Profile.borderColor }" ng-if="Profile.user.socialProfile.data">
            <img ng-show="Profile.user.userDetails.imageUrl" load-image="1x1"
                data-final-src="{{Profile.user.userDetails.imageUrl}}" crop-width="50" crop-height="50" crop-type="crop">
            <img ng-show="!Profile.user.userDetails.imageUrl" load-image="1x1"
                  data-final-src="../../../styles/media/avatar-placeholder.png" data-img-type="local" crop-width="50"
                  crop-height="50" crop-type="default">
        </div>
        <div class="profile-info-container">
            <h5>{{Profile.SocialItems.getUserName(Profile.user.userDetails)}}</h5>
            <h6>{{Profile.user.userDetails.location && Profile.user.userDetails.location.address ? Profile.user.userDetails.location.address : ''  }}</h6>
            <h5 class="streakText" ng-show="Profile.SocialItems.appSettings.showStreak && (Profile.user.isCurrentUser || Profile.user.isPublicProfile || (!Profile.user.isPublic && Profile.user.amIFollowing))">{{Profile.user.socialProfile.data.streak ? Profile.user.socialProfile.data.streak : 0 }} Streak</h5>
            <p class="longestStreakText" ng-show="Profile.SocialItems.appSettings.showLongestStreak && (Profile.user.isCurrentUser || Profile.user.isPublicProfile || (!Profile.user.isPublic && Profile.user.amIFollowing))">{{Profile.user.socialProfile.data.highestStreak ? Profile.user.socialProfile.data.highestStreak : 0 }}</p>
        </div>
        <div class="options">
            <span class="material-icons" ng-click="Profile.openDrawer()">
                more_horiz
            </span>
        </div>
    </div>
    <div class="profile-bio" ng-show="Profile.user.userDetails && Profile.user.userDetails.bio">
        <p>
            {{Profile.user.userDetails.bio}}
        </p>
    </div>
    <div ng-if="Profile.user.buddies && Profile.user.buddies.length > 0" class="profile-buddies">
        <div ng-repeat="user in Profile.user.buddies" class="profile-buddy-item">
            <img ng-if="user.pic" load-image="1x1"
            ng-click="Profile.goToProfile(user.userId)"
              data-final-src="{{user.pic}}" 
              crop-width="40" 
              style="border-radius: 100%;"
              crop-height="40" 
              crop-type="crop"
            />
            <img ng-if="!user.pic"
              load-image="1x1"
              data-final-src="../../../styles/media/avatar-placeholder.png"
              data-img-type="local" crop-width="40" crop-height="40"
              crop-type="default"
              ng-click="Profile.goToProfile(user.userId)"

            />
        </div>
    </div>
    <div style="height:6vh" ng-show="Profile.user.isCurrentUser" class="button-container side-by-side">
            <button class="half-width-btn outline-btn-success" ng-click="Profile.openBFProfile()" >
                {{Profile.strings.usereditProfile}}
            </button>
            <button class="half-width-btn outline-btn-success" ng-click="Profile.goToInbox()">
                {{Profile.strings.userinbox}}
            </button>

    </div>
    <!-- ADD BUTTON CONTAINER FOR OTHER USERS HERE -->
    <div style="height:6vh" ng-show="!Profile.user.isCurrentUser && (Profile.user.isPublicProfile || (!Profile.user.isPublicProfile && Profile.user.amIFollowing))  && !Profile.user.didIBlock" class="button-container side-by-side">        
        <button class="half-width-btn" ng-class="!Profile.user.amIFollowing && !Profile.user.amIPending? 'solid-btn-success': 'outline-btn-success'"  ng-if="!Profile.user.didIBlock && !Profile.user.isCurrentUser" ng-click="Profile.followUnfollowUser(this)">
            <span ng-show="!Profile.user.amIFollowing && !Profile.user.amIPending ">
                {{Profile.strings.userfollow}}
            </span> 

            <span ng-show="Profile.user.amIFollowing">
                {{Profile.strings.userunfollow}}
            </span>
            
        </button>
    
        <button  class="half-width-btn outline-btn-success" ng-click="Profile.openChat()">
            <span>
                Message
            </span>
        </button>
    </div>
    <div style="height:6vh" ng-show="!Profile.user.isCurrentUser && ((!Profile.user.isPublicProfile && !Profile.user.amIFollowing) || Profile.user.didIBlock)" class="button-container">        
        <button class="full-width solid-btn-success" ng-if="Profile.user.didIBlock && !Profile.user.isCurrentUser" ng-click="Profile.unblockUser(this)">
            <span  ng-show="Profile.user.didIBlock">
                {{Profile.strings.userblocked}}
            </span>             
        </button>
        <button class="full-width" ng-class="Profile.user.amIPending? 'outline-btn-success' : 'solid-btn-success'"
            ng-if="!Profile.user.didIBlock && !Profile.user.isPublicProfile && !Profile.user.isCurrentUser" ng-click="Profile.followUnfollowUser(this)">
            <span ng-show="Profile.user.amIPending">
                Requested
            </span>             
            <span ng-show="!Profile.user.amIPending">
                {{Profile.strings.userfollow}}
            </span>             
        </button>
    </div>
    
    
    <!--  ADD BUTTON CONTAINER FOR OTHER USERS HERE -->
    <div ng-show="Profile.shouldShowSwitch()" class="switch">
        <div id="profile-posts" class="has-bottom-border" ng-click="Profile.loadPage('posts')"> {{Profile.strings.userposts}}</div>
        <div id="profile-tagged" ng-click="Profile.loadPage('tagged')"> {{Profile.strings.usertagged}}</div>
    </div>

    <div ng-show="Profile.shouldShowPosts()">
        <div ng-if="(Profile.posts.ownPosts.items.length == 0 && Profile.currentPage === 'posts') || (Profile.posts.taggedPosts.items.length == 0 && Profile.currentPage === 'tagged')">
            <div class="empty_state"></div>
        </div>
        <div ng-cloak id="{{'profile-posts-container-'+Profile.user.userId}}" ng-style="{height: Profile.getPostsContainerHeight() + 'vh' }" ng-bind-html="postsList"  style="overflow: auto;" ng-show="Profile.currentPage === 'posts'">
            
        </div>
        
        <div ng-cloak id="{{'profile-tagged-posts-container-'+Profile.user.userId}}"  ng-style="{height: Profile.getPostsContainerHeight() + 'vh' }"  style="overflow: auto;" ng-show="Profile.currentPage === 'tagged'">
            
        </div>
    </div>
    <div ng-show="!Profile.shouldShowPosts()">
        <div ng-show="!Profile.user.isPublicProfile && !Profile.user.didIBlock" class="private-posts-container">
            <h5> {{Profile.strings.userprivateAccountTitle}}</h5>
            <h6> {{Profile.strings.userprivateAccountBody}}</h6>
        </div>
    </div>
</div>
