
<div  class="social-item" style="overflow: auto;height: 89vh !important" ng-if="!SinglePost.isLoading">
    <div style="height: 89vh;">

        <div class="head" style="position:relative">
            <div class="social-profile-photo">

                <div class="media-holder ng-cloak" ng-click="SinglePost.navigateToProfile(post.userId)">
                    <img ng-if="post.userId && post.userDetails.imageUrl" load-image="1x1"
                        data-final-src="{{post.userDetails.imageUrl}}" crop-width="40"
                        crop-height="40" crop-type="crop">
                    <img ng-if="!(post.userId && post.userDetails.imageUrl)"
                        load-image="1x1"
                        data-final-src="../../../styles/media/avatar-placeholder.png"
                        data-img-type="local" crop-width="40" crop-height="40"
                        crop-type="default">
                </div>
                <div class="social-profile-photo">
                    <div class="social-copy">
                        <div style="display: flex;">
                            <p class="text-primary ellipsis" style="margin-right: 5px;">
                                <a class="ng-cloak" ng-click="SinglePost.navigateToProfile(post.userId)">{{SinglePost.SocialItems.getUserName(post.userDetails)}} </a>
                            </p>
                            <span ng-if="post.createdOn" class="time-ago opacity-seventy ng-cloak">
                                {{SinglePost.getDuration(post.createdOn) | convertTimeFormat}}
                            </span>
                        </div>
                        <div ng-if="!post.originalAuthorName && post.location && post.location.address">
                            <p class="time-ago opacity-seventy ng-cloak">
                                {{post.location.address.length > 25 ? post.location.address.substring(0,25) + '...' : post.location.address}}
                            </p>
                        </div>
                        <div ng-if="post.originalAuthorName">
                            <p class="time-ago opacity-seventy ng-cloak">
                                <span class="material-icons-outlined" style="font-size: 15px;margin-right: 3px;">
                                    repeat
                                </span> {{post.originalAuthorName}}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div style="    position: absolute;
            top: 25px;
            right: 15px;" ng-click="SinglePost.openPostBottomDrawer(post)">
                <span  class="material-icons">
                    more_horiz
                </span>
                    
            </div>
        </div>
        <div class="post-text copy">
            <p class="cursor-pointer">
                <span
                    ng-click="SinglePost.goToSinglePostView(post.id)"
                    ng-bind-html="(SinglePost.decodeText(post.text))  | newLine">
                <!-- post text goes here -->
                </span>
                <span>
                    <span ng-click="SinglePost.goToFilteredPosts('hashtag', hashtag)" ng-repeat="hashtag in post.hashtags" style="color: var(--bf-theme-primary);">
                        #{{hashtag}} 
                    </span>
                </span>
                
            </p>
        </div>
        <div class="plugin-slide text-center post-image-container"  ng-repeat="image in post.images">
            <img ng-src="{{getCroppedImage(image)}}" alt="" style="width: 100% !important;" ng-click="SinglePost.openImageInFullScreen(image)"> 
        </div>
        <div class="plugin-slide text-center post-image-container"  ng-repeat="video in post.videos">
            <video alt=""  style="width: 100% !important;height: 100% !important;object-fit: cover;border-radius: 15px;" controls>
                <source ng-src="{{trustSrc(video+ '#t=0.01')}}" />
            </video>


        </div>
        <div ng-if="post.taggedPeople.length > 0">
            <span style="    display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 5px;
                flex-wrap: wrap;
                margin-left: 12px;">
                <span class="material-icons">person</span>
                <span style="margin-left: 5px;color: var(--bf-theme-primary);" ng-repeat="user in taggedUsers track by $index">
                    <span style="color: var(--bf-theme-body-text);" ng-if="$index == post.taggedPeople.length - 1 && post.taggedPeople.length > 1">
                         and 
                    </span>
                    <span ng-click="SinglePost.navigateToProfile(user.userId)">
                        {{user.displayName || (user)}}
                    </span> 
                </span>
            </span>
        </div>
        <div ng-show="post.userId && post.userId != SinglePost.SocialItems.userDetails.userId" class="">
            <div class="status">
                <div class="status-footer">
                    <div style="display: flex;">

                        <div class="footer-item">
                            <a class="social-icon ng-cloak" data-src="reaction" data-isInjected = "false" ng-click="SinglePost.toggleReaction(post)" data-id="{{post.id}}">
                                <span class="{{SinglePost.reaction.icon}} fa-gradient" 
                                ng-style="{'background': 'linear-gradient(to top, '+SinglePost.reaction.color+' 0%, '+SinglePost.reaction.color+' '+  SinglePost.getGradientValue(post.likesCount) +'%,rgba(150,150,150,.8) '+  SinglePost.getGradientValue(post.likesCount, 1) +'%,rgba(150,150,150,.8) 100%)', 'border-color': post.liked? SinglePost.reaction.color : SinglePost.appTheme.icons}" 
                                ng-class="{notActive : !post.liked,'fa-border': post.liked}" aria-hidden="true">

                                </span>
                            </a>
                        </div>
                        
                        <div class="footer-item" ng-click="SinglePost.repostPost(post)">
                            <a class="social-icon ng-cloak">
                                <span class="material-icons material-icons-outlined">
                                    repeat
                                </span>
                            </a>
                        </div>
                        <div class="footer-item" ng-click="SinglePost.openChat(post)">
                            <a class="social-icon ng-cloak">
                                <span class="material-icons material-icons-outlined">
                                    chat_bubble_outline
                                </span>
                            </a>
                        </div>
                        
                    </div>
                    <div class="right-footer-items">

                        <div class="footer-item" ng-click="SinglePost.sharePost(post)">
                            <a class="social-icon ng-cloak">
                                <span class="material-icons material-icons-outlined">
                                    share
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="post.userId && post.userId == SinglePost.SocialItems.userDetails.userId" class="">
            <div class="status">
                <div class="status-footer">
                    <div style="display: flex;">

                        <div class="footer-item">
                            <a class="social-icon ng-cloak" data-src="reaction" data-isInjected = "false" data-id="{{post.id}}">
                                <span class="{{SinglePost.reaction.icon}} fa-gradient" 
                                ng-style="{'background': 'linear-gradient(to top, '+SinglePost.reaction.color+' 0%, '+SinglePost.reaction.color+' '+  SinglePost.getGradientValue(post.likesCount) +'%,rgba(150,150,150,.8) '+  SinglePost.getGradientValue(post.likesCount, 1) +'%,rgba(150,150,150,.8) 100%)', 'border-color': post.liked? SinglePost.reaction.color : SinglePost.appTheme.icons}" 
                                ng-class="{notActive : !post.liked,'fa-border': post.liked}" aria-hidden="true">

                                </span>
                            </a>
                            <span ng-style="{'color': SinglePost.appTheme.icons}">{{post.likesCount}}</span>
                        </div>
                        
                        <div class="footer-item">
                            <a class="social-icon ng-cloak">
                                <span class="material-icons material-icons-outlined">
                                    repeat
                                </span>
                            </a>
                            <span ng-style="{'color': SinglePost.appTheme.icons}">{{post.repostsCount}}</span>
                        </div>
                        <div class="footer-item">
                            <a class="social-icon ng-cloak">
                                <span class="material-icons material-icons-outlined">
                                    chat_bubble_outline
                                </span>
                            </a>
                            <span ng-style="{'color': SinglePost.appTheme.icons}">{{post.repliesCount}}</span>
                            
                        </div>
                        
                    </div>
                    <div class="right-footer-items">
                        
                        <div class="footer-item" ng-click="SinglePost.sharePost(post)">
                            <a class="social-icon ng-cloak">
                                <span class="material-icons material-icons-outlined">
                                    share
                                </span>
                            </a>
                            <span ng-style="{'color': SinglePost.appTheme.icons}">{{post.sharesCount}}</span>                                                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
