<div style="width: 100%;height: 100%;overflow-y: auto;overflow-x: hidden;"  ng-style='{display:  loadingPhase == 2 ? "block" : "none"}' ng-if="!Profile.isUpdating && Profile.userProfile.userDetails">
    <div class="profile-header">
        <div class="profile-picture-container">
            <img ng-if="Profile.userProfile.userDetails.imageUrl" src="{{Profile.userProfile.userDetails.imageUrl}}" alt="User Profile Picture">
            <img ng-if="!Profile.userProfile.userDetails.imageUrl" load-image="1x1"
                  data-final-src="../../../styles/media/avatar-placeholder.png" data-img-type="local" crop-width="40"
                  crop-height="40" crop-type="default">
        </div>
        <div class="profile-info-container">
            <h5>
                {{Profile.SocialItems.getUserName(Profile.userProfile.userDetails)}}
            </h5>
            <h6>
                San Diego, CA
            </h6>
            <h5 class="streakText" ng-if="Profile.SocialItems.appSettings.showStreak">
                2 Streak
            </h5>
            <p class="longestStreakText" ng-if="Profile.SocialItems.appSettings.showLongestStreak">
                22
            </p>
        </div>
        <div class="options">
            <span class="material-icons" ng-click="Profile.openDrawer()">
                more_vert
            </span>
        </div>
    </div>
    <div class="profile-bio" ng-if="Profile.userProfile.userDetails && Profile.userProfile.userDetails.bio">
        <p>
            {{Profile.userProfile.userDetails.bio}}
        </p>
    </div>
    <div class="button-container" ng-class="{'side-by-side':Profile.userProfile.userDetails && Profile.userProfile.isCurrentUser == true }">
        <button ng-if="!Profile.isBlocked && Profile.userProfile.isCurrentUser == false" ng-click="Profile.followUnfollowUser(this)">
            <span ng-if="!Profile.isBlocked && Profile.isFollowing == false && Profile.isPending == false">
                {{Profile.strings.userProfile.follow.value || Profile.strings.userProfile.follow.defaultValue}}
            </span> 
            <span ng-if="!Profile.isBlocked && Profile.isPending == true">
                Requested
            </span>
            <span ng-if="!Profile.isBlocked && Profile.isFollowing == true">
                {{Profile.strings.userProfile.unfollow.value || Profile.strings.userProfile.unfollow.defaultValue}}
            </span>
            
        </button>

        <button ng-if="Profile.isBlocked && Profile.userProfile.isCurrentUser == false" ng-click="Profile.unblockUser()">
            <span ng-if=" Profile.isBlocked == true">
                {{Profile.strings.userProfile.blocked.value || Profile.strings.userProfile.blocked.defaultValue}}
            </span>
        </button>

        <button class="half-width-btn" ng-if="Profile.userProfile.isCurrentUser">
            {{Profile.strings.userProfile.editProfile.value || Profile.strings.userProfile.editProfile.defaultValue}}
        </button>
        <button class="half-width-btn" ng-if="Profile.userProfile.isCurrentUser">
            {{Profile.strings.userProfile.inbox.value || Profile.strings.userProfile.inbox.defaultValue}}
        </button>

    </div>
    <div ng-if="!Profile.isBlocked" class="switch">
        <div id="profile-posts" class="has-bottom-border" ng-click="Profile.loadPage('posts')"> {{Profile.strings.userProfile.posts.value || Profile.strings.userProfile.posts.defaultValue}}</div>
        <div id="profile-tagged" ng-click="Profile.loadPage('tagged')"> {{Profile.strings.userProfile.tagged.value || Profile.strings.userProfile.tagged.defaultValue}}</div>
    </div>
    <div  ng-if="!Profile.isBlocked">
        <div ng-if="!Profile.shouldShowProfilePosts()" class="private-posts-container">
            <h5> {{Profile.strings.userProfile.privateAccountTitle.value || Profile.strings.userProfile.privateAccountTitle.defaultValue}}</h5>
            <h6> {{Profile.strings.userProfile.privateAccountBody.value || Profile.strings.userProfile.privateAccountBody.defaultValue}}</h6>
        </div>
        <div ng-if="Profile.shouldShowProfilePosts()" class="private-posts">
            <div ng-style='{display: currentPage == "posts" ? "block" : "none"}'>
                <div ng-style='{display: currentPage == "posts" && posts.length == 0 ? "block" : "none"}'>
                    <div class="empty_state">
                    </div>
                </div>
                <div id="profile-posts-container" ng-style='{display: currentPage == "posts" && posts.length > 0 ? "block" : "none"}' style="height: 54vh;overflow: auto;">
                    
                </div>
            </div>
            <div  ng-style='{display: currentPage == "tagged" ? "block" : "none"}'>
    
                <div ng-style='{display: currentPage == "tagged" && taggedPosts.length == 0 ? "block" : "none"}'>
                    <div class="empty_state">
                    </div>
                </div>
                <div id="profile-tagged-posts-container" ng-style='{display: currentPage == "tagged" && taggedPosts.length > 0 ? "block" : "none"}' style="height: 54vh;overflow: auto;">
                    
                </div>
            </div>
    
    
        </div>
    </div>

</div>
<!-- <p>test</p>
{{Profile.userProfile.userDetails.email}} -->