<div class="modal-contain">
	<div class="padded clearfix">
	    <div class="content text-center">
			<p class="text-center blackTheme" style="font-weight:500;">Delete Post</p>
	        <p class="blackTheme margin-zero">Are you sure you want to delete this post?</p>
	    </div>
	</div>
	<div class="bottom border-top-grey clearfix">
	   	<div class="col-xs-6 pull-left text-center padding-zero">
	       	<a class="blackTheme default-background-hover transition-third" ng-click="cancel()" style="display:block; padding:8px;">Cancel</a>
	    </div>
	   	<div class="col-xs-6 pull-right text-center padding-zero border-left-grey">
	       	<a class="text-danger default-background-hover transition-third" ng-click="deletePost(postId)" style="display:block; padding:8px; text-decoration:none;">Delete</a>
	    </div>
	</div>
 </div>