<div class="modal-contain">
 	<div class="content text-center">
		<div class="padded clearfix" style="padding-bottom:12px !important;">
			<p class="text-center blackTheme margin-zero" style="font-weight:500;"
			style="white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;">{{languages.moreOptions}}</p>
		</div>
		<div class="dynamic-links">
			<a class="text-danger"  ng-click="deleteComment(commentId)"
			style="white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;">{{languages.deleteComment}}</a>
		</div>
	</div>
	<div class="bottom border-top-grey clearfix">
	   	<div class="col-xs-12 pull-left text-center padding-zero">
	       	<a class="blackTheme default-background-hover transition-third" ng-click="cancel()" style="display:block; padding:8px;">{{languages.cancelPost}}</a>
	    </div>
	</div>
 </div>