<div class="modal-contain">
	<div class="padded clearfix">
	    <div class="content text-center">
			<p class="text-center blackTheme" style="font-weight:500;">Reported</p>
	        <p class="blackTheme margin-zero">Thank you. This post has been reported to the administrator.</p>
	    </div>
	</div>
	<div class="bottom border-top-grey clearfix">
	   	<div class="col-xs-12 pull-left text-center padding-zero">
	       	<a class="text-primary default-background-hover transition-third" ng-click="ok(option)" style="display:block; padding:8px;">Done</a>
	    </div>
	</div>
 </div>