<div class="header flex">
    <h4 class="margin-zero">Ban User</h4>
    <span class="icon icon-cross2 close-modal" ng-click="cancel()"></span>
</div>
<div class="padded clearfix">
    <div class="content">
        <p class="margin-zero">Are you sure you want to ban this user?</p>
    </div>
</div>
<div class="flex padded-sm">
    <button class="btn btn-outlined btn-secondary flex-left-auto"
        ng-click="cancel()">Cancel</button>
    <button class="margin-left-ten btn btn-danger"
        ng-click="ok()"">Ban User</button>
</div>

  