<div class="header flex">
    <h4 class="margin-zero">Reset Wall ?</h4>
    <span class="icon icon-cross2 close-modal" ng-click="cancel()"></span>
</div>
<div class="padded clearfix">
    <div class="content">
        <p class="margin-zero">Are you sure you want to reset this wall? This is will remove all your existing posts.</p>
    </div>
</div>
<div class="flex padded-sm">
    <button class="btn btn-outlined btn-secondary flex-left-auto" ng-click="cancel()">Cancel</button>
    <button class="text-danger default-background-hover transition-third" ng-click="ok()">Reset Wall</button>
</div>
