<div class="header clearfix border-bottom-grey">
    <h4 class="margin-zero">Reset Wall ?</h4>
    <span class="icon icon-cross2 close-modal" ng-click="cancel()"></span>
</div>
<div class="padded clearfix">
    <div class="content">
        <p class="margin-zero">Are you sure you want to reset this wall? This is will remove all your existing posts.</p>
    </div>
</div>
<div class="bottom border-top-grey clearfix">
    <div class="col-md-6 pull-left text-center">
        <a class="text-primary default-background-hover transition-third" ng-click="cancel()">Cancel</a>
    </div>
    <div class="col-md-6 pull-right text-center border-left-grey">
        <a class="text-danger default-background-hover transition-third" ng-click="ok()">Reset Wall</a>
    </div>
</div>